body{
    font-family: "Open Sans", sans-serif;
    margin:0;
}

h1{
    color:#ccc;
    font-weight: 300

}

figure{
    margin: auto

}

.content>article{
     padding-top:50px,0;
     max-width: 500px;
     margin: 0 auto;
     text-align: center

}

img{
    max-width: 100%

}

.tophead{
    position: relative;
    height: 400px;
    width:100%;
    background-image: url(imgs/background.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow:hidden;

}

.logo{
    height:100px;
    width:50%;
    background-image: url(imgs/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
    position: absolute;
    top:50%;
    margin-top:-50px;
    margin-left:200px;
       
}

.iphonefor{
    width: 1000px;
    height: 600px;

    background-image: url(imgs/iphone.png);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position:center;
    background-position: absolute;
    position: absolute;
    left:80%;
    margin-left:-500px;
    top:200px  
    
}

.pencil-back{
    width:200px;
    height: 200px;
    
    background-image: url(imgs/pencil.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom ;
    position: absolute;
    top: 20%;
    left:70%;
    margin-left:-400px; 
    
}
